<input type="text" class="rr-input" value={{searchTerm}} data-test-rr="search-box" oninput={{perform onChange value="target.value"}} />
<button type="button" class="rr-search-button" data-test-rr="search-button" onclick={{perform onChange searchTerm}}>
  {{fa-icon "search"}}
</button>