<section class="rr-panel b--solid br1 bw1">
  <div class="flex w-100 justify-between">
    <h3>Description</h3>
    {{#link-to 'bands.band.edit' class="underline" data-test-rr="edit-band-link"}}Edit{{/link-to}}
  </div>

  <p class="1h-copy" data-test-rr="band.description">{{model.description}}</p>
  <h3>Members</h3>
  {{#if model.members.length}}
  <ul class="rr-list mt3">
    {{#each model.members as |musician|}}
    <li class="rr-list-item" data-test-rr="musician-name">
      {{#link-to "musicians.show" musician.id}}
        {{musician.name}}
      {{/link-to}}
    </li>
    {{/each}}
  </ul>
  {{else}}
  <div class="mt3 m13">The band has no musicians yet.</div>
  {{/if}}
  {{#link-to "musicians.new" (query-params band=model.id) class="dib m11 mt3"}}{{fa-icon "plus"}} Add musician{{/link-to}}
</section>